<style type="text/css">
	#sync
{
  width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  float:left;
  margin:5px;
}
.one
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}
.two
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}

</style>
<div id="sync"><span class="one">0</span></div>
<div id="sync"><span class="two">0</span></div>
<br />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $.ajax({
        url: 'syncronous.php?1',
        type: "GET",
        success: function(result)
        {
          $('.one').html(result);
          $('.one').each(function () {
              $(this).prop('Counter',0).animate({
                  Counter: $(this).text()
              }, {
                  duration: 4000,
                  easing: 'swing',
                  step: function (now) {
                      $(this).text(Math.ceil(now));
                  }
              });
          });
        }
      });
  $.ajax({
        url: 'syncronous.php?2',
        type: "GET",
        success: function(result)
        {

          $('.two').html(result);
          $('.two').each(function () {
              $(this).prop('Counter',0).animate({
                  Counter: $(this).text()
              }, {
                  duration: 4000,
                  easing: 'swing',
                  step: function (now) {
                      $(this).text(Math.ceil(now));
                  }
              });
          });
        }
      });
	
</script>